
<div>
  <%= @graph_url %>
</div>

<% @graph_urls.each_pair do |name,data| %>
    <p>
      <%= name %><br/>
    <%= image_tag data[:graph_url],:style=>{:align=>'center'} %>
      <table>
        <% data[:table_array].each do |entry| %>
        <tr><td><%= pretty_date entry[0] %></td><td><%= entry[1] %></td></tr>
      <% end %>
      </table>
    </p>


<% end %>